.container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.parent {
  display: grid;
  margin: 40px 0px 0px 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  /* justify-content: space-between; */
  gap: 50px;
}

f.scholarship-info{
  display: flex;
  justify-content: space-between;
}

.scholarship-action{
  display: flex;
  justify-content: space-around;
}

.feature-card {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #4285f4;
}

.feature-title {
  font-size: 1.4rem;
  margin-bottom: 15px;
  color: #333;
}


.top{
  display: flex;
  flex-direction: row;
}

.landimg{
  height: 50vh;
  width: 50vw;
}

.context{
  padding: 30px;
}

.scholarship-action button{
  background-color:#4285f4;
  color: white;
  height:50px;
  width: 20vw;
  border-radius: 10px;
}