.navbar{
  margin: 0px;
}
.navbar .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.link{
  text-decoration: none;
  margin: 0px 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.auth-buttons{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}


.btn {
  color: blue;
  background-color: lightblue;
  text-decoration: none;
  margin: 0px 10px;
  padding: 5px 10px;
  border-radius: 5px;
}